.review-item-container {
    border: 1px solid #a6a6a6;
    margin: 20px;
    padding: 15px;
}

.users-reviews-container {
    /* border: 3px solid #CE4633;; */
    margin: 20px;
    padding: 15px;
    width: 25%;
    margin-bottom: 50px;
}

.users-orders-container {
    /* border: 3px solid #CE4633;
    margin: 20px;
    padding: 15px;
    width: 30%;
    margin-bottom: 50px; */
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 900px; */
  width: 30%;
  margin: auto;
  text-align: center;
  font-family: arial;
  /* background-color: ; */
}

.users-buttons-container {
    width: 30%;
    /* border: 3px solid #CE4633; */
    margin: 20px;
    padding: 15px;
    max-height: 200px;
    
}

.outer-profile {
    display: flex;
}

.review-form {
  display: flex;
  flex-direction: column;
  
}

.float-label-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

.float-label-field input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}

.appointment-form-title {
  margin-bottom: 40px;
}

.link {
  /* border-style: solid; */
  /* background-color: rgba(79, 209, 241, 0.43); */
  border-width: 1px;
  position: relative;
}

