.sample-item {
    width: 400px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.card {
    width: 18rem;
}

/* .sample-item {
    border: 1px solid black;
} */

.btn-primary {
    background-color: #CE4633 !important;
    border-color: #CE4633 !important;
}

h2 {
    text-align: center;
}

.sample-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
/* btn:focus :hover {
  box-shadow: 0 0 1px #CE4633 !important;
} */