.splash-page-banner-container {
  height: 450px;
  width: 100%;
  margin: 0 auto;
}

.splash-page-container {
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #111;
}

.splash-page-banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.splash-page-heading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.splash-page-heading {
  font-size: 50px;
}