.team-container {
  display: flex;
  justify-content: space-around;
}

.teammate-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.team-info {
  display: flex;
  flex-direction: column;
}

.team-social-links {
  display: flex;
  align-items: center;
}

.team-profile-photo {
  width: 200px;
  border-radius: 50%;
}

.social-link {
  margin: 0 .3em;
}