.navbar-brand {
     height: 60px;
     margin-top: 0px;
    margin-left: 45px;
    padding: 0px;
}
.container-fluid {
    margin-right: 40px;
}

.nav-item {
    margin-left: 40px;
    font-weight: bold;
}

/* .navbar navbar-expand-lg navbar-light bs-ligh {
    margin-top: 0ch;
} */
.header-row{
    display: flex;
    justify-content: space-between;
     /* position: relative; */
    margin-right: 60px;
    /* position: fixed; */
}

.nav-link {
    margin-right: 25px;
}

.logout-btn {
  text-decoration: none;
  height: 40px;
  width: 100px;
  font-family: sans-serif;
  font-weight: 700;
  background-color: #CE4633;
  border: none;
  padding: 8px;
  color: white;
  font-size: 16px;
  border-radius: 50px;
}

.logout-btn:hover {
  background-color: rgb(212, 89, 72);
}