.navbar-brand {
     height: 60px;
     margin-top: 0px;
    margin-left: 45px;
    padding: 0px;
}
.container-fluid {
    margin-right: 40px;
}

.nav-item {
    margin-left: 40px;
    font-weight: bold;
}

/* .navbar navbar-expand-lg navbar-light bs-ligh {
    margin-top: 0ch;
} */
.header-row{
    display: flex;
    justify-content: space-between;
}